nav:hover ul{
  display:block;
  position: fixed;
  right: 0%;
  top: 3em;
}


@media only screen and (min-width:640px){
  .burger{
    display: none;
  }
  .list{
    display: inline;
    padding: 0;
  }
  nav ul {
    position: fixed;
    right: 1%;
    top: 0px;
  }
  .icon, .icon-home, .icon-work, .icon-project{
    width: 1em;
    height: 1em;
  }
  nav li a{
    font-size: 3em;
    text-decoration: none;
    color: black;
  }
  /*nav li:hover .icon{
    width: 2em;
    height: 2em;
  }*/
  nav:hover ul{
    position: fixed;
    right: 1%;
    top: 0px;
  }
  #pic1{
    margin-left: 25%;
    max-width: 25%;
    margin-top: 1%;
    float: none;
  }
}
